@import url(./global.style.css);
@import url(./normalize.css);
@import url(./header/header.css);
@import url(./banner/banner.css);
@import url(./promo/promo.css);

body {
  /* width: 1920px; */
  font-family: Lato, sans-serif;
}

.container {
  padding: 0 75px;
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 42px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}

@media (min-width:450px) and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}